<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/layout.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>WeCanCodeIT Library Books</title>
    </head>

    <body>
        <header class="header">
            <h1 class="header__title">Welcome to the WeCanCodeIT Library</h1>

            <% if (messages.success) { %>
                <div class="alert alert-success" role="alert"><%- messages.success %></div>
            <% } %>

            <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert"><%- messages.error %></div>
            <% } %>
            
            <% if(data.length) { %>
                <h2>
                    <%= data[0].location %> 
                </h2>
            <% } %>
        </header>
        <section class="book-list">
            <h2 class="book-list__heading">Here is a list of our books:</h2>
            <nav class="book-list-nav">
                <ul class="book-list-links">
                    <% for(let i = 0; i < data.length; i++) { %>
                        <li class="book-list-links__book">
                           <a class="book-list-links__link" href="./book/<%= data[i].book_id%>"><%= data[i].title%></a>
                        </li>
                    <% } %>
                </ul>
            </nav>
            
            <form action="/book/add" method="POST">
                <!--input type="text" name="title" value="<%= data.title %>" placeholder="Add a book title"-->
                <!--input type="text" name="description" value="<%= data.description %>" placeholder="Add a book description"-->
                <!--button type="submit" onclick="return alert('Are you sure?')" href="./campuses/campus/<%= data[0].campus_id%>">Add Book </button-->
            </form>
            <a class="nav__home" href="/campuses">back to campuses</a>
        </section>
    </body>

</html>